html body{
  margin:0 !important;
  padding:0 !important;
  width: 100%;
  height: 100%;
}

header{
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  background-color: #09244f;
  width: 100%;
  height: 70px;
  z-index: 4;
  color: white;
}
header h2{
  float: left;
  padding-left: 5%;
  line-height: 15px;
}
header h2 span{
  font-weight: 300;
  font-size: .65em;
}
/*navigation*/

.site-nav{
  top: 100%;
  right: 0;
  position: absolute;
  background:#09244f;
  height:0px;
  overflow: hidden;
}
.site-nav--open{
  height:auto;
}
.site-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-nav li{
  border-bottom: 1px solid white;
}
.site-nav li:last-child{
  border-bottom: none;
}
.site-nav a{
  display: block;
  color: white;
  padding: 2em 6em;
  text-transform: uppercase;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus{
  background: grey;
}
.menu-toggle{
  padding:1em;
  position: absolute;
  top:.5em;
  right: .5em;
  cursor: pointer;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  content: "";
  background: white;
  height: 3px;
  width:1.75em;
  border-radius:3px;
  transition: all ease-in-out 500ms;
}
.hamburger::before {
  transform: translateY(-7px);
}
.hamburger::after {
  transform: translateY(3px);
}
.open .hamburger{
  transform: rotate(45deg);
}
.open .hamburger::before{
  opacity: 0;
}
.open .hamburger::after{
  transform:translate(-3px) rotate(-90deg);
}
/*home secton*/

#home{
  position: relative;
  width:100%;
  height: 1000px;
  background: url("../images/aboutBkg.jpg") ;
  margin:0;
  z-index: 1;
}
.container{
  position: relative;
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows: 200px 400px 100px;
  grid-template-areas:
  ". . ."
  "l lg r"
  ". . ."
}

.box1{
  grid-area: l;
}

.box2{
  grid-area:lg;
  justify-self: center;
}

.box3{
  grid-area:r;
}

#logo{
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
}

/*about secton*/
#about{
  position: relative;
  width:100%;
  height: 1000px;
  background: url("../images/homebkg.jpg")  ;
  margin: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  color: white;
}

#bio{
  position: relative;
  padding-top: 0%;
  color: white;
}


.bio1{
  position: relative;
  text-align: right;
  padding-top: 80%;
}
.bio1 h1{
  margin-bottom: 2%;
  font-size: 3em;
}

.bio2{
  grid-column: 2;
  grid-row:2;
  position: relative;
  z-index:1;
  border:1px white;
  border-style: solid solid solid none;
  padding: 5px;
  background-color: ;
  color: white;


}
#video-background{
  grid-column:3;
  grid-row: 2;
  position: relative;
  z-index: 3;
  background-color: none;
  border:1px white;
  border-style:solid none solid none;
  padding: 5px;
}

#projects{
  position: relative;
  width:100%;
  height: 1000px;
  background: url("../images/aboutBkg.jpg") ;
  margin:0;
}

#portfolio{
  position: relative;
  width: 100%;
  height:100%;
  float: left;
}

#slider{
  position: relative;
  width: 100%;
  height: 1000px;
  background-color: ;
}
/*slides for carousel*/
.slide{
  display: none;
  position: absolute;
  font-family: 'Alegreya Sans SC', sans-serif;
  width:100%;
  height:100%;
  background: rgba(112, 112, 112, 0.7);


}

.slide.active{
  display: block;
}
/*slide controls*/
#controls{
  top:10%;
  left:5%;
  float: left;
  position: absolute;
  display: grid;
  width:% ;
  grid-template-columns:1fr 2fr 2fr 1fr;
  grid-template-rows: 80px 60px 20px ;
  grid-gap: 10px;
  grid-template-areas:
  ". to to ."
  ". lft rgt ."
  ". . . .";

  z-index: 2;
  font-weight: 300;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  cursor: pointer;
  color: #09244f;
  font-size: 2em;
  background-color:  white;

}

.out{
  opacity: 0;
}

#topControlBar{
  grid-area: to;
  background-color: ;
}

#left-arrow{
  grid-area: lft;
  align-self: center;
  text-align: center;
  border:1px #09244f;
  border-style: solid none solid none;
  width: 150px;
  height: 50px;
  line-height:10px;
  margin: auto;
}
#right-arrow{
  grid-area: rgt;

  margin: auto;
  text-align:  center;
  border:1px solid #09244f;
  border-style: solid none solid none;
  width: 150px;
  height: 50px;
  line-height:10px;
}
#BotControlBar{
  grid-area: bt;
  background-color: ;
}
/*styling for slides*/
.portfoliotext{
  position:
}

.projectbox{
  display: grid;
  grid-template-columns:  3fr 3fr ;
  grid-template-rows:  75px 300px 100px;
  grid-gap: 10px;
  color: white;
  background-color: ;
  width:80%;
  margin:20% auto;
  z-index: 2;
  font: inherit;
}

.image1 h1{
  margin: 0;
}

.projecttext{
  border: 1px white solid;
  grid-row:2/3;
  grid-column: 1;
  width:100%;
  text-align: center;
  background-color:rgba(255,255,255,0.5) ;
  color:#09244f;
  border-style: solid none solid none;
}

.projecttext h1{
  margin: 0;
}

.projecttext p{
  font-size: 1.5em;
}
.projecttext a{
  text-decoration: none;
    color:#09244f;
}
.projecttext a:hover{
  color:white;
}

.image1{
  grid-row:2/3;
  grid-column: 2;
  justify-self:center;
  margin: auto;
  border: 1px white solid;
  width: 100%;
  height: 100%;
  border-style: solid none solid none;
  background: url('../images/datingInD.jpg')no-repeat center;
}
.image2{
  grid-row:2/3;
  grid-column: 2;
  justify-self:center;
  margin: auto;
  border: 1px white solid;
  width: 100%;
  height: 100%;
  border-style: solid none solid none;
  background: url('../images/seatres.jpg')no-repeat center;
}


#design{
  background-color: rgba(0, 0, 102,0.5);
}
/*contact section*/

#contact{
  position: relative;
  width:100%;
  height: 1000px;
  background: url("../images/homeBkg.jpg")  ;
  margin:0;
}
.mediaContainer{
  position: relative;
  display: grid;
  grid-template-columns:1fr 2fr 2fr 1fr ;
  grid-template-rows:200px 250px 100px;
}

.linkedIn{
  position: relative;
  grid-column:3;
  grid-row:2/3;
  width:100%;
  height:;
  border: ;
  justify-self:center;

}
.linkedIn img{
  display: block;
  margin: auto;
}
.gitHub{
  position: relative;
  width: 100%;
  grid-column:2;
  grid-row:2/3;
}
.gitHub img{
  display: block;
  margin: auto;
}
.mediaInfo{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row:3/3;
  border: white solid 1px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: white;
  text-align: center;
}



@media (min-width: 700px){
  .menu-toggle{
    display: none;
  }
  .site-nav{

    top:50%;
    height:auto;
    position: relative;
    background:;
    float: right;
    padding-right: 5%;
  }
  .site-nav li{
    display: inline-block;
    border:none;
  }
  .site-nav a{
    padding: 0;
    margin-left: 3em;
  }
  .site-nav a:hover,
  .site-nav a:focus{
    background: transparent;
  }

}
@media only screen and (max-width: 420px){




  .container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .box2 img{
    width: 250px;
    margin:0;

  }
  .box2{


  }
  .box3{

  }
  #about{
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 50px 75px 500px 100px;

    grid-template-areas:
    ". . . ."
    ". o o ."
    ". p p ."
    ". t t .";
  }
  .bio1{
    grid-area: o;
    padding: 0;
    text-align: center;
    line-height: 0;

  }
  .bio2{
    grid-area:p;
    overflow-y: scroll;
  }
  #style-1::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
  #video-background{
    grid-area:t;
    left: 0vw;
    top: 0vh;
  }

  #controls{
    left:15%;
    margin: auto;
    width: 300px;
    height: auto;
    grid-template-areas:
    ". to to ."
    ". lft rgt ."
    ". . . .";
  }
  #BotControlBar{
    display: none;
  }
  #topControlBar{
    text-align: center;
    margin: auto;
  }
  #left-arrow {
    width: 50px;
    height: 50px;
    border-radius: 0%;
    line-height:0px;
    padding: 0px;
    font-size: .5em;
    margin:auto;
    line-height: 30px;
    text-align: left;
  }
  #right-arrow{
    width: 50px;
    height: 50px;
    border-radius: 0%;
    line-height:0px;
    font-size: .5em;
    margin:auto;
    line-height: 30px;
    border:1px;
    border-style: solid none solid none;
    text-align: right;
  }

  .projectbox{
    grid-template-columns: 3fr ;

    grid-template-rows: 100px 100px 200px 300px ;

  }
  .projecttext{
    grid-row: 3/4;
    grid-column:1;
    /*grid-area: a;
    width: 50%;
    justify-self: ;*/
  }
  .projecttext p{
    font-size: 1em;
  }
  .image1{
    grid-row: 4/4;
    grid-column:1;
    /*grid-area:b;
    width:50%;
    height:0;
    margin:0;*/

    background: url('../images/datingInDPhone.jpg')no-repeat center;
  }
  .mediaContainer{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 300px 300px 100px;
  }
  .gitHub{
    grid-column: 2;
    grid-row: 2;

  }
  .linkedIn{
    grid-column: 2;
    grid-row: 3;
  }
  .mediaInfo{
    grid-column: 2;
    grid-row: 4;
    width:100%;
    padding: 2%;
  }
  .mediaInfo h1{

  }




}
